header{
	background: #0c7343;
	height: 90px;
	border: 3px solid #000000;
	border-radius: 10px;
	

}
#logo{
	float: left;
	margin: 5px;
	
}


#nav{
	float: right;
	padding-top: 25px;
}

a{
	color: #ffffff;
	text-decoration: none;
}
#nav li{
	display: inline-block;
	margin: 5px;
	
	padding-right: 10px;

}
