*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
	margin: 0;
	background-color: #FCF6F5FF;
	
}

footer{
	clear: both;
	background: #000000;
	text-align: center;
	color: #ffffff;
	margin-top: 40px;
	opacity: .7;
}

/*--------header-------*/
header{
	
	display: inline-block;
	
    background: #2BAE66FF;
	clear: both;
    width: 100%;
    box-shadow: 0px 8px 2px 1px rgba(0, 0, 0, .2);
    margin-bottom: 20px;

}
#logo{
	float: left;
	margin: 5px;
	
}

nav{
    height:10vh;
}

.logocenter{
	display: block;
    margin: 0 auto;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 20%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;

}

.nav-links li a {
  color: #FCF6F5FF;
  text-decoration: none;
  font-size: 16px;
}


/*------------Table------------*/
.table{
	width: 100%;
	border-collapse: collapse;
}

.table td,.table th{
  padding:12px 15px;
  border:1px solid #ddd;
  text-align: center;
  font-size:16px;
}

.table th{
	background-color: #2BAE66FF;
	color:#ffffff;
}

.table tbody tr:nth-child(even){
	background-color: #d0d0d0;
	
}


/*----------Main Body Div----------*/
.main_div{
	border:3px solid #000000;
	border-radius: 10px;
	padding: 2%;
	height: 100%;
}

.main_internaldiv{
	border: 1px solid #2BAE66FF;
	box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .1);
	padding: 2%; 
	border-radius: 10px;
	display: inline-block;
}

.red_text{
	color: #e80000;
}
.textcenter{
	text-align: center;
}
.textleft{
	text-align: left;
}
.textright{
	text-align: right;
}
.fullheight{
	height: 100%;
}

.lowoptext{
	opacity: .5
}

.fontsize160{
	font-size: 160%
}

.logo{
	margin: 5px;
	height: 50px;

}

.father {
    position: relative;
}
.child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.textred{
	color: #ff0000;
}
.textwhite{
	color: #ffffff;
}
.userimage{
	height: 200px;
}
.textmain{
	color: #2BAE66FF;
}


/*--------Margin------*/
.margin-top{
	margin-top: 20px;
}
.margin-bottom{
	margin-bottom: 20px;
}
.margin-left{
	margin-left: 20px;
}
.margin-right{
	margin-right: 20px;
}

/*-------link-------*/
a{
	text-decoration: none;
}


/*-------Responsive------------*/

@media screen and (max-width: 768px) {

/*herder*/
	
  .line {
    width: 30px;
    height: 4px;
    background: white;
    margin: 5px;
    border-radius: 20px;
  }
  nav {
    position: relative;
  }

  .threeline {
    position: absolute;
    cursor: pointer;
    right: 5%;
    transform: translate(0%, 50%);
    z-index: 2;
  }

  .nav-links {
    position: fixed;
    background: #2BAE66FF;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 120% -20%);
    -webkit-clip-path: circle(120px at 100% -20%);
    transition: all .6s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1100px at 90% -15%);
    -webkit-clip-path: circle(1100px at 90% -15%);
    pointer-events: all;
  }
  .landing {
    flex-direction: column;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.6s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.6s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.6s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }



  /*table*/

  .table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}

	.table tr{
		margin-bottom:20px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:16px;
		font-weight: bold;
		text-align: left;
	}
}




