
.call12{
      margin-top: 5px;
      border-width: 5px;
      border-color: #33cc33;  
      width: auto;
      border-radius: 10px;
      border-style: solid ;
      background-color: #33cc33;     
}
.a0{
   margin-left: 5px;
   margin-top: 5px;
   border-width: 5px;
   border-color: #33cc33;  
   border-radius: 10px;
   border-style: solid ;
   border-width: 5px;
   height: auto;
}
 .a1{

  background-color:lightgreen; 
  border-style: ridge; 
  border-width: 5px;
  height: auto;
 }
 .a2{

  background-color:powderblue; 
  border-style: ridge; 
  border-width: 5px;
  height: auto;
 }
  .a3{

  background-color:gray;
  border-style: ridge; 
  border-width: 5px;
  height: auto; 
 }

.l1{
    display: grid;
    grid-template-columns: 7fr 2fr 1fr 1fr;
    grid-gap: .3em;
    }
  
.l2{

  display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: .3em;
}
.main{
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
   border-radius: 10px;
  border-style: solid ;
  border-color: #33cc33;
  height:auto;
  width:auto;

}
.design{

  border-radius: 10px;
  border-style: solid ;
  border-color: #33cc33;
  width: auto;
  height:auto;
}
.M3-bar {color:#fff!important;background-color:#000!important}
.MI-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.M2-button:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}


  
@media screen and (max-width: 1200px){


    .call{ 
    width: auto;   
    }
  }
  @media screen and (max-width: 1200px){


    .main{ 
    width: auto;   
    }
  }
  @media screen and (max-width: 1200px){


    .design{ 
    width: auto;   
    }
  }